


#block-for-slider {
    width: 100%;
    margin: 0 auto; 
    height: 620px;      
}

#viewport {
    width: 100%;
      height: 620px;      
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
    background: black;
}

#slidewrapper {
    position: relative;
    width: calc(100% * 4);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    transition-timing-function: cubic-bezier(.67,.01,.23,1);
    background: black;
}

#slidewrapper, #slidewrapper ul, #slidewrapper li {
    margin: 0;
    padding: 0;
}

.slide {
    width: calc(100%/4);
    list-style: none;
    display: inline;
    float: left;
}

#nav-btns {
    position: relative;
    width: 100%;
    bottom: -50px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.slide-nav-btn {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    margin: 8px;
}

.slide-nav-btn:hover {
    cursor: pointer;
}




/* слайдер header /////////////////////////////////////// */


#slider {
	overflow:hidden; /* Скрываем всё что за блоком слайдера */
	position:relative;
	width: 100%;
	/* height:500px; */
	margin:0 auto;
}
	
#slider .slides {
	position:relative;
	transition:1s; /* Задаем время изменения блока, отвечает за плавную прокрутку */
	width: 100%;
}
		
#slider .slides .slide {
	float:left;
	display:block;
}
			
#slider .slides .slide img{
	width: 100%;
	
}			
		
#slider .navigation {
	position:absolute;
	width:100%;
	bottom:10%;
	left:8%;
	z-index:1;
	cursor:pointer;
}
	
#slider .navigation .dot{
	display:inline-block;
	width:10px;
	height:10px;
	background:#666666;
	cursor:pointer;
	border-radius:10px;
	margin:0 8px;
	border:1px solid #666666;
}
		
#slider .navigation .active{
	background:#fff;
}